
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Detay</h2>

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Kullanıcı Listesi</h4>
        </div>
        <div class="content">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.Encode("Kimlik Numarası")
                        </th>
                        <th>
                            @Html.Encode("Ad")
                        </th>
                        <th>
                            @Html.Encode("Soyad")
                        </th>
                        <th>
                            @Html.Encode("Doğum Tarihi")
                        </th>
                        <th>
                            @Html.Encode("Adres")
                        </th>
                        <th>
                            @Html.Encode("Telefon")
                        </th>
                        <th>
                            @Html.Encode("Email")
                        </th>
                        <th>
                            @Html.Encode("Kullanıcı Adı")
                        </th>
                        <th>
                            @Html.Encode("Parola")
                        </th>
                        <th>
                            @Html.Encode("Durum")
                        </th>
                        <th>
                            @Html.Encode("Kullanıcı Tipi")
                        </th>

                        <th>
                            @Html.Encode("Bişey")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="myTable"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    $(document).ready(function () {
        var id = @ViewBag.id;

        $.ajax({
            type: "GET",
            url: "http://localhost:54205/api/kullanici/"+id,
            success: function (data) {
                    $("#myTable").after(
                        '<tr>' +
                        '<td>' + data.TcKimlik + '</td>' +
                        '<td>' + data.Ad + '</td>' +
                        '<td>' + data.Soyad + '</td>' +
                        '<td>' + data.DogumTarihi + '</td>' +
                        '<td>' + data.Adres + '</td>' +
                        '<td>' + data.Telefon + '</td>' +
                        '<td>' + data.Email + '</td>' +
                        '<td>' + data.KullaniciAdi + '</td>' +
                        '<td>' + data.Parola + '</td>' +
                        '<td>' + data.Durum + '</td>' +
                        '<td>' + data.KullaniciTipi + '</td>' +

                        '<td><a href="Detay/' + data.KullaniciID + '">Detaylar</a> | <a href="/Duzenle/' + data.KullaniciID + '">Düzenle</a> | <a href="/Sil/' + data.KullaniciID + '">Sil</a> </td>' +
                        '</tr>'
                    )
                
            }
        })
    })
</script>