@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Kullanıcı Listele";
}

    <p>
        @Html.ActionLink("Yeni Müşteri Ekle", "MusteriEkle")
        @Html.ActionLink("Yeni Yönetici Ekle", "YoneticiEkle")
    </p>
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Kullanıcı Listesi</h4>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>


                        <th>
                            @Html.Encode("Kimlik Numarası")
                        </th>
                        <th>
                            @Html.Encode("Ad")
                        </th>
                        <th>
                            @Html.Encode("Soyad")
                        </th>
                        <th>
                            @Html.Encode("Doğum Tarihi")
                        </th>
                        <th>
                            @Html.Encode("Adres")
                        </th>
                        <th>
                            @Html.Encode("Telefon")
                        </th>
                        <th>
                            @Html.Encode("Email")
                        </th>
                        <th>
                            @Html.Encode("Kullanıcı Adı")
                        </th>
                        <th>
                            @Html.Encode("Parola")
                        </th>
                        <th>
                            @Html.Encode("Durum")
                        </th>
                        <th>
                            @Html.Encode("Kullanıcı Tipi")
                        </th>

                        <th>
                            @Html.Encode("Bişey")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="myTable"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="gizliId"/>


<script>

    $(document).ready(function () {
        var token = localStorage.getItem("Anahtar");
        var Trimtoken = token.replace(/\"/g, "");
        
        $.ajax({
            type: "GET",
            url: "http://rentacarservices.azurewebsites.net/api/kullanici?Anahtar=" + Trimtoken,
            success: function (data) {
                console.log(data.Data);
                $.each(data, function (i, val) {
                    $("#gizliId").val(val.KullaniciID); 
                    var id = $("#gizliId").val();
                    $("#myTable").after(
                        '<tr>' +
                        '<td>' + val.TcKimlik + '</td>' +
                        '<td>' + val.Ad + '</td>' +
                        '<td>' + val.Soyad + '</td>' +
                        '<td>' + val.DogumTarihi + '</td>' +
                        '<td>' + val.Adres + '</td>' +
                        '<td>' + val.Telefon + '</td>' +
                        '<td>' + val.Email + '</td>' +
                        '<td>' + val.KullaniciAdi + '</td>' +
                        '<td>' + val.Parola + '</td>' +
                        '<td>' + val.KullaniciTipi + '</td>' +
                      
                        '<td><a href="./Detay/' + val.KullaniciID + '">Detaylar</a> | <a href="./Duzenle/">Düzenle</a> | <a href="./Sil/' + val.KullaniciID + '">Sil</a> </td>' +
                        '</tr>'
          
                    )
                })
            }
        })
    })
</script>



